.bg{
    background-color:white;
} 
.bg1{
    background-color: #0967d619;
}
.bg2{
    background-color:  #3ebd93;
}
.bg3{
    background-color: #e668a7;
}
.bg4{
    background-color: #a368fc;
}
.bg5{
    background-color: #e12d3919;
}